#java{
    width: 400px;
    font-size: x-small;
    height: 200px;
    background-color: rgb(255, 38, 0);
    border-radius: 10%;
    border: 4px;
    border-style: solid;
}


body{
    background-color: rgb(136, 231, 199);
}


.header{
    text-align: center;
    background-color: blueviolet;
    width: 500px;
    height: 300px;
    border-style: solid;
    border: 15px;
}
