#java{
    width: 100px;

    height: 50px;
    background-color: rgb(255, 38, 0);
    border-radius: 10%;
    border: 4px;
    border-style: solid;
}


body{
    background-color: rgb(136, 231, 199);
}

